<div class="container">
  <div class="row">
    <!-- Col 12 -->
    <div class="col-md-12 my-3">
      <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'">
      </app-form-new-item>
    </div>
    <!-- Col 8 -->
    <div class="col-md-8">
      <ul>
        <app-cities *ngFor="let city of cities" (cityClickedEvent)="onCityClicked($event)" [city]="city"
          [selection]="selection"></app-cities>
      </ul>
      <!-- <ul>
        <li *ngFor="let city of cities" (click)="onCityClicked(city)"
          [ngClass]="{'alert alert-info': city === selection}">
          {{city}}
        </li>
      </ul> -->
    </div>
    <!-- Col 4 -->
    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Your city is: {{selection}}</p>
        <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear'"></app-button>
      </div>
    </div>
  </div>
</div>