ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 0.5rem;
}

app-cities li:hover {
  background-color: rgb(202, 202, 202);
  color: white;
}

li.alert {
  padding: 0.5rem;
}

li.alert:hover {
  background-color: #cff4fc;
  color: black;
}
